


body {
    
    /* background-image: url('https://firebasestorage.googleapis.com/v0/b/xhotto-d02a8.appspot.com/o/musical-notes-uhd-4k-wallpaper..jpg?alt=media&token=5cb89432-d2cd-4a1c-a77f-7109c5dbe97b'); */
   
    background-color: #e09d5e;
    
    background-size: cover;
    background-position: center;
 
    background-repeat: no-repeat;
}

html, body {
    
    height: 100%;
    margin: 0;
    padding: 0;
}
